* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
    text-shadow: 1px 1px 5px black;
}

html, body {
    height: 100%;
}

body {
    background: radial-gradient(#e6e4f5 35%, #8dbad4, #000000);

    display: flex;
    justify-content: center;
    align-items: center;

}

div {
    background: #0F2027;
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to bottom, #1228a2, #48D1Cc , #0F2027);

    width: 480px;
    padding: 50px;
    border-radius: 150px 40px;
    margin: 15px;
    box-shadow:  10px 15px 35px #000000; 
    
}

form {
    text-align: center;
}

#titulo {
    font-style: italic;
    
}

h1, h3 {
    cursor: default;
}

#input-valor {
    background: #2d498ada;
    font-size: 80px;
    text-align: center;
    width: 100%;
    margin-top: 22px;
    border-radius: 25px;
    border: 3px solid #0b222b62;
   

}

#valor:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

button {
    color: #0F2027;
    background:radial-gradient(#2791d3,#312727);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: azure;
    text-shadow: none;
    width: 90%;
    height: 50px;
    border-radius: 30px 0 30px 0;
    border-color: rgba(8, 12, 12, 0.201);
    cursor: pointer;
    box-shadow:  10px 15px 35px #000000;   
    padding: 10px;

}   

#mensagem {
    font-size: 21px;
    height: 60px;
}

